

@using B2Fleet.Web.Helper
@using Microsoft.AspNetCore.Mvc.Localization
@model AddOrUpdateVolunteerViewModel
@inject IViewLocalizer Localizer
<aside class="right-side">
    <section class="content-header">
        <h1>
            @_loc.GetLocalizedHtmlString("Add new volunteer").Value
        </h1>
   
    </section>
    <section class="content">
        <div class="span9">
        



            <ul class="nav nav-tabs" id="modTabCreate" style="margin-bottom:0px;margin-left:5px;border-bottom: none;">
                <li class="active"><a id="tabVolunteer" href="#tabCreateVolunteer">@_loc.GetLocalizedHtmlString("PersonalInfo").Value</a></li>

            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="tabCreateVolunteer">
                    <form class="form-horizontal" method="post" id="volun-from" >
                        <div id="Employee" class="reviewBlock" data-content="Form" style="padding-left: 30px; background-color: white;">
                            
                            <div class="row">
                                <div class="col-md-9" style="margin-top: 20px">
                                    <div class="form-group row">
                                        <label  class="col-sm-3 control-label">@_loc.GetLocalizedHtmlString("FirstNameAr").Value <font class="redFont">*</font></label>
                                        <div class="controls col-sm-6">
                                            <input style="text-transform:uppercase" asp-for="FirstNameAr" type="text" class="form-control">
                                            <span asp-validation-for="FirstNameAr" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-3 control-label">@_loc.GetLocalizedHtmlString("LastNameAr").Value <font class="redFont">*</font></label>
                                        <div class="controls col-sm-6">
                                            <input style="text-transform:uppercase" asp-for="LastNameAr" type="text" class="form-control">
                                            <span asp-validation-for="LastNameAr" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="text1" class="col-sm-3 control-label">@_loc.GetLocalizedHtmlString("FirstName").Value </label>
                                        <div class="controls col-sm-6">
                                            <input style="text-transform:uppercase" asp-for="FirstName" type="text" class="form-control">
                                            <span asp-validation-for="FirstName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group row">
                                        <label  class="col-sm-3 control-label">@_loc.GetLocalizedHtmlString("LastName").Value </label>
                                        <div class="controls col-sm-6">
                                            <input asp-for="LastName" type="text" class="form-control">
                                            <span asp-validation-for="LastName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label  class="col-sm-3 control-label">@_loc.GetLocalizedHtmlString("BirthDate").Value </label>
                                        <div class="controls col-sm-6">
                                            <input asp-for="BirthDate" id="BirthDate" type="text" class="form-control">
                                            <span asp-validation-for="BirthDate" class="text-danger"></span>

                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label  class="col-sm-3 control-label">@_loc.GetLocalizedHtmlString("BirthPlace").Value </label>
                                        <div class="controls col-sm-6">
                                            <input asp-for="BirthPlace" type="text" class="form-control">
                                            <span asp-validation-for="BirthPlace" class="text-danger"></span>

                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-3 control-label">@_loc.GetLocalizedHtmlString("CardId").Value </label>
                                        <div class="controls col-sm-6">
                                            <input asp-for="CardId" type="text" class="form-control">
                                            <span asp-validation-for="CardId" class="text-danger"></span>

                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label  class="col-sm-3 control-label">@_loc.GetLocalizedHtmlString("Email").Value </label>
                                        <div class="controls col-sm-6">
                                            <input asp-for="Email" type="text" class="form-control">
                                            <span asp-validation-for="Email" class="text-danger"></span>

                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label  class="col-sm-3 control-label">@_loc.GetLocalizedHtmlString("Phone").Value <font class="redFont">*</font></label>
                                        <div class="controls col-sm-6">
                                            <input asp-for="Phone" type="text" class="form-control">
                                            <span asp-validation-for="Phone" class="text-danger"></span>

                                        </div>
                                    </div>
                                        <div class="form-group row">
                                        <label class="col-sm-3 control-label">@_loc.GetLocalizedHtmlString("Address").Value </label>
                                        <div class="controls col-sm-6">
                                            <textarea asp-for="Address" class="form-control"></textarea>
                                        </div>
                                    </div>
                                    <div class="control-group row">
                                        <div class="controls col-sm-9">
                                            <button type="submit" formaction="@Url.Action("Create")" class="saveBtn btn btn-primary pull-right"><i class="fa fa-save"></i> @_loc.GetLocalizedHtmlString("Save").Value</button>
                                            <button type="submit" formaction="@Url.Action("CreateAndContinue")" class="saveBtn btn btn-success pull-right"><i class="fa fa-save"></i> @_loc.GetLocalizedHtmlString("SaveAndContinue").Value</button>

                                            <a href="@Url.Action("Index")" class="cancelBtn btn pull-right" style="margin-right: 5px;"><i class="fa fa-times-circle-o"></i> @_loc.GetLocalizedHtmlString("Cancel").Value</a>
                                        </div>
                                        <div class="controls col-sm-3">
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </form>


                </div>
             </div>


        </div>
    </section>
</aside>
<script>
    function postVolunteer(e) {
       // e.preventDefault();
        $.ajax({
            url: '@Url.Action("Create")',
            type: 'post',
            dataType: 'application/json',
            data: $("#volun-from").serialize(),
            success: function(data) {
                
            }
        });
    }
</script>